---
- name: Agregando role Role - RHEL Pre Migration 
  debug: 
    msg: "Role - RHEL Pre Migration"
- include_tasks: "{{ item }}"
  with_items:
    - "force_nic_name.yml" 
    - "install_qemu_agent.yml"
...